@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

* {
    box-sizing: inherit;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}


/*.container {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
}*/

/*@media (min-width: 600px) {
    .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}*/

/*h1 {
    color: #fff;
    font-size: 1.25em;
    font-weight: 900;
    margin: 0 0 2em;
}*/

/*@media (min-width: 450px) {
    h1 {
        font-size: 1.75em;
    }
}

@media (min-width: 760px) {
    h1 {
        font-size: 3.25em;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 5.25em;
        margin: 0 0 1em;
    }
}

p {
    color: #fff;
    font-size: 12px;
}

@media (min-width: 600px) {
    p {
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 90%;
    }
}

@media (max-height: 500px) {
    p {
        left: 0;
        position: relative;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}*/

.my-link {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid;
    color: #fff;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
}

    .my-link:hover {
        background: white;
        color: #E1332D;
    }

.btn {
}

@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}

.btn:hover {
    text-decoration: none;
}

.btn-1 {
    background: linear-gradient(to left, #8f6B29, #FDE08D, #DF9F28);
    font-weight: 100;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
}


    .btn-1 svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .btn-1 rect {
        fill: none;
        stroke-width: 6;
        stroke-dasharray: 422, 0;
        -webkit-transition: all 0.35s linear;
        transition: all 0.35s linear;
    }

    .btn-1:hover {
        background: rgba(225, 51, 45, 0);
        font-weight: 900;
        letter-spacing: 1px;
        color: white;
    }

        .btn-1:hover rect {
            stroke: #FDE08D;
            stroke-width: 5;
            stroke-dasharray: 40, 310;
            stroke-dashoffset: 55;
            -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
        }

.btn-2 {
    letter-spacing: 0;
}

    .btn-2:hover,
    .btn-2:active {
        letter-spacing: 5px;
    }

    .btn-2:after,
    .btn-2:before {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 1px solid rgba(255, 255, 255, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        -webkit-transition: all 280ms ease-in-out;
        transition: all 280ms ease-in-out;
        width: 0;
    }

    .btn-2:hover:after,
    .btn-2:hover:before {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-color: #fff;
        -webkit-transition: width 350ms ease-in-out;
        transition: width 350ms ease-in-out;
        width: 70%;
    }

    .btn-2:hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
    }

.btn-3 {
    background: #e3403a;
    border: 1px solid #da251f;
    box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

    .btn-3:hover {
        background: #e02c26;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
        color: #ec817d;
        text-decoration: none;
        text-shadow: -1px -1px 0 #c2211c;
        -webkit-transition: all 250ms linear;
        transition: all 250ms linear;
    }

.btn-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

    .btn-4 span {
        z-index: 20;
    }

    .btn-4:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    .btn-4:hover:after {
        left: 120%;
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

    .btn-5:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }



    /*
        sider bar
    */
﻿
.fa-2x {
    font-size: 2em;
}

.fa-icon {
    position: relative;
    display: table-cell;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #C7187D;
    margin: 5px;
    padding: 3px;
}


.main-menu:hover, nav.main-menu.expanded {
    width: 196px;
    overflow: visible;
}

.main-menu {
    background: linear-gradient(to left, #8f6B29, #FDE08D, #DF9F28);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 72px;
    height: 100%;
    right: 0;
    width: 30px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
    text-align:right;
}

    .main-menu > ul {
        /*margin: 2px 0;*/
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 250px;
    }

        .main-menu li > a {
            position: relative;
            display: table;
            border-collapse: collapse;
            border-spacing: 0;
            color: black;
            font-family: arial;
            font-size: 14px;
            text-decoration: none;
            -webkit-transform: translateZ(0) scale(1,1);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        /*width: 60px;
        height: 36px;*/
        text-align: center;
        vertical-align: middle;
        /*font-size: 18px;*/
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 190px;
        font-family: 'Segoe UI';
        margin-right: 10px;
    }

.nav-text {
    margin-right: 10px;
    font-weight: bold;
}

.main-menu > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

a:hover, a:focus {
    text-decoration: none;
}

sider-nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    background-color: black;
    color: #DF9F28;
}

.area {
    margin: 100px 70px 0 5px;
    text-align:right;
}

/*@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}*/